<div class:list={[
  "prose prose-zinc dark:prose-invert",
  "prose-a:no-underline",
  "prose-a:text-blue-500 prose-a:visited:text-purple-700 prose-a:hover:text-purple-900",
  "dark:prose-a:text-blue-400 dark:prose-a:visited:text-purple-300 dark:prose-a:hover:text-purple-400",
  "text-bblack-950 dark:text-bblack-100"
]}>
  <slot />
</div>
