---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<h2 class="uppercase text-xs tracking-wider font-bold text-bblack-400">
  {title}
</h2>
<section id={title} class:list={[className]}>
  <slot />
</section>
