---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<span class="uppercase text-xs tracking-wider font-bold text-bblack-400">{title}</span>
<section id={title} class:list={[className]}>
  <slot />
</section>
