---
import ProjectDetails from "@/components/home/ProjectDetails.svelte";
import { getCollection, render } from "astro:content";

interface Props {
  filter?: (p: CollectionEntry<"projects">) => boolean;
}

import type { CollectionEntry } from "astro:content";

const { filter } = Astro.props;

let projects = (await getCollection("projects")).toSorted((a, b) =>
  a.id.localeCompare(b.id),
);

if (filter) projects = projects.filter(filter);
---

{
  projects.map((project) => (
    <div class="py-1 my-1 border-b-1 border-bblack-100 dark:border-bblack-800 select-none">
      <div class="flex items-center">
        <a href={project.data.href ?? `/projects/${project.id}`}>
          <h3 class="font-sans font-medium">{project.data.title}</h3>
        </a>

        <div class="ml-auto flex gap-1 items-center">
          <ProjectDetails {project} client:load />
        </div>
      </div>
    </div>
  ))
}
