---
import style from "./Button.module.css";

type Props = {
  type?: "primary" | "secondary";
  href: string;
  target?: string;
  class?: string;
};

const { type = "secondary", href, target, class: className } = Astro.props;
---

<a {href} {target}>
  <button
    class:list={[
      {
        "border-bblack-500 hover:bg-bblack-700 bg-bblack-950 text-white":
          type == "primary",
        "border-bblack-50 hover:bg-bblack-50 text-bblack-900":
          type == "secondary",
      },
      "min-h-10 px-3 w-auto min-w-18 rounded-lg cursor-pointer shadow-sm border-1 flex gap-1 items-center",
      "transition duration-100 active:scale-95",
      style.button,
      className,
    ]}
  >
    <slot />
  </button>
</a>
