---
import Main from "@/layouts/Main.astro";

import Section from "@/components/wrappers/Section.astro";
import Boxed from "@/components/wrappers/Boxed.astro";
import Prose from "@/components/wrappers/Prose.astro";

import Pill, { type PillProps } from "@/components/Pill.astro";

import Awards from "@/components/home/Awards.astro";
import Projects from "@/components/home/Projects.astro";
import Welcome from "@/components/home/Welcome.mdx";
import ExternalLink from "@/components/ExternalLink.astro";

const socials: PillProps[] = [
  {
    icon: "ri:github-fill",
    text: "GitHub",
    href: "https://github.com/pasc4le/",
  },
  {
    icon: "mdi:linkedin",
    text: "LinkedIn",
    href: "https://www.linkedin.com/in/pasc4le/",
  },
  {
    icon: "mdi:email",
    text: "Email",
    href: "mailto:giuseppe.pascale03@gmail.com",
  },
] as const;
---

<Main title="homepage">
  <Boxed>
    <h1
      class="font-bold tracking-tight text-xl text-bblack-950 dark:text-bblack-50"
    >
      Giuseppe Pascale
    </h1>
    <hr class="my-2 border-bblack-100 mb-2 dark:border-bblack-800" />
    <Prose>
      <Welcome components={{ a: ExternalLink }} />
    </Prose>
    <div class="flex gap-2 mt-2 flex-wrap mb-6">
      {socials.map((social) => <Pill {...social} />)}
    </div>
    <Section title="Projects" class="mb-6">
      <Projects filter={(p) => !p.data.archived} />
      <p
        class="text-xs w-full text-center mt-4 text-bblack-300 underline decoration-dotted decoration-1 decoration-bblack-200 cursor-pointer"
      >
        <a href="/projects"> Check out the Projects Archive </a>
      </p>
    </Section>
    <Section title="Awards and Certifications" class="mb-6">
      <Awards />
    </Section>
    <Section title="Fun Facts and Hobbies" class="mb-6">
      <Prose class="mt-2">
        My hobbies are reading, playing videogames, tinkering with electronics,
        hiking and cooking.
      </Prose>
    </Section>
  </Boxed>
</Main>
