---
import type { GetStaticPaths } from "astro";

import { Icon } from "astro-icon/components";

import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import { render } from "astro:content";

import Main from "@/layouts/Main.astro";

import Boxed from "@/components/wrappers/Boxed.astro";
import Prose from "@/components/wrappers/Prose.astro";

import ProjectDetails from "@/components/home/ProjectDetails.svelte";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");

  return projects.map((p) => ({
    params: {
      id: p.id,
    },
  }));
}) satisfies GetStaticPaths;

const { id } = Astro.params;

const entry = await getEntry("projects", id);

if (!entry) throw new Error("Could not find project");

const { Content } = await render(entry);
---

<Main title={entry.data.title}>
  <Boxed>
    <div class="relative flex items-center">
      <h1
        class="font-bold tracking-tight text-xl text-bblack-950 dark:text-bblack-50"
      >
        {entry.data.title}
      </h1>
      <div class="ml-auto flex gap-1">
        <ProjectDetails project={entry} client:load />
      </div>
      <div
        class="absolute -top-5 left-0 text-xs opacity-50 hover:opacity-70 font-normal cursor-pointer"
      >
        <a href="/projects" class="flex gap-1 items-center">
          <Icon name="mdi:arrow-back" class="h-3 w-auto" />
          Projects Archive
        </a>
      </div>
    </div>
    <hr class="my-2 border-bblack-100 mb-2 dark:border-bblack-800" />
    <Prose class="max-w-full pb-18">
      <Content />
    </Prose>
  </Boxed>
</Main>
