---
import { Icon } from "astro-icon/components";

import Main from "@/layouts/Main.astro";

import Section from "@/components/wrappers/Section.astro";
import Boxed from "@/components/wrappers/Boxed.astro";

import ProjectsLinks from "@/components/projects/ProjectsLinks.astro";
---

<Main title="projects">
  <Boxed>
    <div class="relative">
      <h1
        class="font-bold tracking-tight text-xl text-bblack-950 dark:text-bblack-50"
      >
        Projects Archive
      </h1>
      <div
        class="absolute -top-5 left-0 text-xs opacity-50 hover:opacity-70 font-normal cursor-pointer"
      >
        <a href="/" class="flex gap-1 items-center">
          <Icon name="mdi:arrow-back" class="h-3 w-auto" />
          Home
        </a>
      </div>
    </div>
    <hr class="my-2 border-bblack-100 mb-2 dark:border-bblack-800" />
    <p class="mb-6">
      These are all my projects, including the ones that are not active.
    </p>
    <Section title="All Projects">
      <ProjectsLinks />
    </Section>
  </Boxed>
</Main>
